
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Abel|Abel');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: rgb(204, 65, 31);
    text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.ham i:hover {
    color: rgb(204, 65, 31);
    cursor: pointer;
}
/*****************************************bootstrap overrides********************************/
#apaksa {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/* html {
    height: 100% !important; 
  }
  body {
    min-height: 100% !important;
  } */

/* #main-footer {
    border: 10px solid black;
    min-height: 100%!important;
}
#main {
    border: 10px solid rgb(204, 65, 31); 
} */

#bootstrap-overrides li a:hover {
    color: rgb(204, 65, 31);
    cursor: pointer;
}
#bootstrap-overrides nav {
    box-shadow: 0px 15px 50px #888888;
    border-bottom: 4px solid rgb(204, 65, 31);
}
#bootstrap-overrides .jumbotron {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}
#bootstrap-overrides {
    font-family: 'Titillium Web', sans-serif !important; 
}

#button:hover {
    color: rgb(204, 65, 31);
    cursor: pointer;
}


/***********************footer****************************************/
.footer {
	height:2em;
	background-color: rgb(22, 17, 17);
    margin-top: 50px;
    
	overflow: auto;
	color: rgb(29, 24, 20);
	position: relative;
	 box-shadow: 0px 0px 30px  #888888;
}

	/***************************************************the footer footer**************************************************/
.rights {
	height: 1.5em;
	background-color:rgba(31, 20, 20, 0.9);
	color: rgba(255, 23, 15, 0.938);
	text-align: center;
    font-size: 13px;
    margin-bottom: none;
}

/***************************scoll button*********************************************/
#scrollBtn {
    display: none; 
    position: fixed; /* Fixed/sticky position */
    bottom: 100px; /* Place the button at the bottom of the page */
    right: 30px; 
    z-index: 99; /* Make sure it does not overlap */
    /*border: none;*/
    outline: none;  
    /*background-color: rgba(255, 23, 15, 0.938); */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; 
    border-radius: 10px; 
    font-family: 'Quicksand', sans-serif;
}
/*********************************fading jumbotron links***************************************/
.overlay {
    position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color:black;
      border-radius: 6px;	
    }

    .overlay_text {
        color:aliceblue;
        font-size: 3em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
      .fadeboxtext {
        color:aliceblue;
      }
      .fadeboxtext:hover {
        text-decoration: none;
        color: rgb(204, 65, 31);
      }

      
      .jumbotron:hover .overlay {
        opacity: 0.9;
      }